<nav class="navbar bg-body-tertiary">
  <div class="d-flex justify-content-between mx-auto align-items-center" style="width: 90%">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex flex-column justify-content-end w-50" role="search">
      <div class="mb-3 d-flex align-items-baseline justify-content-end">
        <span class="mb-0 w-25">Upload BP</span>
        <input type="file" #fileInputBP style="display: none" (change)="handleBPFileInput($event)" accept=".csv" />
        <button type="button" class="btn btn-outline-primary position-relative" (click)="chooseFileBP()">
          Choose File

          <span *ngIf="selectedBPFile"
            class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle">
            <span class="visually-hidden">New alerts</span>
          </span>
        </button>
      </div>
      <div class="mb-3 d-flex align-items-baseline justify-content-end">
        <span class="mb-0 w-25">Upload DRE</span>
        <input type="file" #fileInputDRE style="display: none" (change)="handleDREFileInput($event)" accept=".csv" />
        <button type="button" class="btn btn-outline-primary position-relative" (click)="chooseFileDRE()">Choose File

          <span *ngIf="selectedDREFile"
            class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle">
            <span class="visually-hidden">New alerts</span>
          </span>
        </button>
      </div>
      <div class="mb-3 d-flex align-items-baseline justify-content-end">
        <button type="button" class="btn btn-outline-success" (click)="uploadFiles()"
          [disabled]="!selectedBPFile || !selectedDREFile">
          Upload Files
        </button>
      </div>
    </form>
  </div>
</nav>
<div class="container-center">
  <div class="content-container">
    <app-topo-tela></app-topo-tela>
    <app-conteudo-tela></app-conteudo-tela>
  </div>
</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<div id="liveAlertPlaceholder" class="position-absolute bottom-0 left-0" style="margin-left: 3rem;"></div>