<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex" role="search">
      <input type="file" #fileInput style="display: none" (change)="handleFileInput($event)" accept=".csv" />
      <button type="button" class="btn btn-outline-primary" (click)="chooseFile()">Choose File</button>
      <button type="button" class="btn btn-outline-success" (click)="uploadFile()" [disabled]="!selectedFile">Upload
        File</button>
    </form>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>