<div class="index-container">
  <div class="index">
    <h1>
      PCT = {{ pct | number : "1.3-3" }} | {{ pct * 100 | number : "1.2-2" }}%
    </h1>
    <h1>
      END = {{ end | number : "1.3-3" }} | {{ end * 100 | number : "1.2-2" }}%
    </h1>
    <h1>
      IPL = {{ ipl | number : "1.3-3" }} | {{ ipl * 100 | number : "1.2-2" }}%
    </h1>
    <div class="ano" *ngIf="ano === 0; else mostrarAno">
      {{ ano === 0 ? "ano" : ano }}
    </div>
    <ng-template #mostrarAno>
      <div class="ano">{{ ano }}</div>
    </ng-template>
  </div>
  <div class="index">
    <h1>
      LG = {{ lg | number : "1.3-3" }} | {{ lg * 100 | number : "1.2-2" }}%
    </h1>
    <h1>
      LC = {{ lc | number : "1.3-3" }} | {{ lc * 100 | number : "1.2-2" }}%
    </h1>
    <h1>
      LS = {{ ls | number : "1.3-3" }} | {{ ls * 100 | number : "1.2-2" }}%
    </h1>
    <div class="ano" *ngIf="ano === 0; else mostrarAno">
      {{ ano === 0 ? "ano" : ano }}
    </div>
    <ng-template #mostrarAno
      ><div class="ano">{{ ano }}</div></ng-template
    >
  </div>
  <div class="index">
    <h1>
      GA = {{ calculoGA(ano) | number : "1.3-3" }} |
      {{ calculoGA(ano) | percent : "1.2-2" }}
    </h1>
    <h1>
      ML = {{ calculoML(ano) | number : "1.3-3" }} |
      {{ calculoML(ano) | percent : "1.2-2" }}
    </h1>
    <h1>
      RA = {{ calculoRA(ano) | number : "1.3-3" }} |
      {{ calculoRA(ano) | percent : "1.2-2" }}
    </h1>
    <div class="ano" *ngIf="ano === 0; else mostrarAno">
      {{ ano === 0 ? "ano" : ano }}
    </div>
    <ng-template #mostrarAno
      ><div class="ano">{{ ano }}</div></ng-template
    >
  </div>
</div>
