/* You can add global styles to this file, and also import other style files */


h1,h2, h3, h4, h5{
    font-family: 'Roboto', sans-serif !important;
}

 p, span, button{
    font-family: 'Poppins', sans-serif !important;
}

body{
    margin-bottom: 2rem;
}